.navbar {
  margin-bottom: 80px;
}

.bg-light-orange {
  background-color: #ffa5004a !important; /* Light orange background */
}

.card {
  padding: 50px; /* Increase padding for larger cards */
  font-size: 1.25rem; /* Increase font size for better readability */
  border: none; /* Remove border if you prefer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  margin-bottom: 50px;
}

.card-text {
  font-size: 1.25rem; /* Larger text font size */
}

.charts-row {
  display: flex;
  width: 100%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.chart-container h2 {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
} 

.bar-label {
  position: absolute;
  text-align: center;
  width: 60px;        /* Adjust based on your bar width */
  font-size: 12px;    /* Adjust based on your preference */
  color: #000;    }  /* Adjust color as needed*/
  
  .centered-content {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100%;            /* Full height of the column */
    margin-top: 75px;
}

.centered-content h2 { 
    text-align: center; 
    font-family: cursive;
    font-weight: 100;
    font-size: 30px;
    color: black;
    margin-bottom: 50px;
}

/* Define keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Card with animated background */
.card.bg-light-orange {
  background: linear-gradient(45deg, #FF5F6D, #FFC371, #fbf4e5);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  border: none; /* Remove border if you prefer */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  padding: 30px; /* Increase padding for larger cards */
  font-size: 1.25rem; /* Increase font size for better readability */
}

/* Ensure card content is centered */
.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
}

  