.footer {
    /* background-color: #555; */
    color: black;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight:600;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    font-weight: 600;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 10px 0 0;
}