


/* Ensure the chart wrapper is centered vertically */
.h-50 {
  height: 100vh;    /* Top half of the viewport height  */
}

.bar-label {
  position: absolute;
  text-align: center;
  width: 50px;        /* Adjust based on your bar width */
  font-size: 12px;    /* Adjust based on your preference */
  color: #000;    }  /* Adjust color as needed*/



/* .chart-wrapper {
    position: relative;
  }
  
  .chart-container {
    position: relative;
    margin-left: -5px;
  }
  
  .bar-label {
    position: absolute;
    text-align: center;
    width: 70px; /* Adjust this based on your bar width */
    /*font-size: 9px; /* Adjust this based on your preference */
  /*} 
  